<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/read.css" />
        <title>Database | <%= read.title %></title>
    </head>
    <body>
        <div>
            <h1>Data</h1>
        </div>
        <div class="userData">
            <h2>Username</h2>
            <p><%= read.username %></p>
            <h2>Password</h2>
            <p><%= read.password %></p>
        </div>

        <div class="biodata">
            <h2>Name</h2>
            <p><%= read.user_game_biodatas.name %></p>
            <h2>Age</h2>
            <p><%= read.user_game_biodatas.age %></p>
        </div>
        <br>
        <a href="/database">Back</a>
    </body>
</html>